
<h3>Se Connecter</h3>
<form method="post" action="" enctype="multipart/form-data">

 <label for="pseudo"><p>Please enter the correct username and </br>password for a staff account. Note that</br> both fields may be case-sensitive.</p></label>

<label for="pseudo">Username :</label>
<input type="text" name="username" id="pseudo" placeholder="Ex: Master" />
<br />
<br />
<label for="pass">Password :</label>
<input type="password" name="password" id="pass" placeholder="Ex: password" />
<br />
<br />
<input type="submit" value="Login" />
<input type="checkbox" name="password" id="password" />
<label for="password">Forget my password</label><br />
</form>
