{% load staticfiles %}
<html lang="en">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<title>{% block title %}Welcome to ESIH App{% endblock %}</title>
</head>
<body>
<div id="tout">
<img src="{% static 'image/logo.jpg' %}" title="Esih" width="175" height="100">
</div>
 <div id="toto">
<h3 >{{tiko}} <a href="/logout/">Log out</a></h3>
</div>

<center><nav>
{% ifequal admin.username "tiko" %}
<ul id="menu">
    <li><a href="/../">Acceuil</a>
    </li>
    <li><a href="#">Inserer</a>
        <ul>
            <li><a href="../prof/">Professeur</a></li>
            <li><a href="../desc/">Description Cours</a></li>
        </ul>
    </li>
    <li><a href="#">Lister</a>
            <ul>  
                <li><a href="../listprof/">Professeur</a></li>
                <li><a href="commerce.php">Description Cours</a></li>
            </ul>  
    </li>
    <li><a href="#">Modifier</a>
            <ul>  
                <li><a href="#">Professeur</a></li>
                <li><a href="#">Description Cours</a></li>
            </ul>  
        </li><li><a href="#">Suprimer</a>
            <ul>  
                <li><a href="../list/">Code Cours</a></li>
                <li><a href="../listp/">Code Programme</a></li>
                <li><a href="../listprof/">Professeur</a></li>
                <li><a href="#">Description Cours</a></li>
            </ul>
        </li><li><a href="#">Contact</a>
        </li>
</ul>

</nav>
    {% endifequal %}
</center>

<section id="content">
{% block content %}{% endblock %}
</section>

</body>
</html>
