{% extends "esihapp/index1.html" %}
{% block title %}Modifier un Professeur{% endblock %}
{% block content %}
<body>
</br>
</br>
<form method="post" action="" 
enctype="multipart/form-data">
<fieldset>
<legend>Modifier un Profeseur</legend>
</br>
</br>
<label for="pseudo">Nom    :</label>
<input type="text" name="NomProfesseur" id="dom" placeholder="Ex: Constant" required="" />
<br />
<br />
<label for="pass">Prenom :</label>
<input type="text" name="PrenomProfesseur" id="Ment" placeholder="Ex: Myrtil" required="" />
<br />
<br />
<label for="pass">Tel    :</label>
<input type="tel" name="Tel" id="sem" placeholder="Ex: 37501305" required="" />
<br />
<br />
<label for="pass">CIN/NIF     :</label>
<input type="text" name="CINP" id="nom" placeholder="Ex: 02-09-19-1890-12-00016" required="" />
<br />
<br />
<label for="pass">E-mail   :</label>
<input type="email" name="Email" id="nom" placeholder="Ex: attiepatrick@esih.edu" required="" />
<br />
<br />
<label for="pass">Adresse   :</label>
<input type="text" name="Adresse" id="nom" placeholder="Ex:16, rue O. Delucien" required="" />
<br />
<br />
</TABLE>
<TR>
	<TD COLSPAN=2>
	<INPUT type="submit" value="Valider">
	</TD>
</TR>
    </br>
    </br>
</fieldset>
<fieldset>
    Vous Pouvez Creer un Cv pour un Professeur en listant Ce prof
</fieldset>
    </form>
</body>
{% endblock %}


















