{% extends "esihapp/index1.html" %}
{% block title %}Ajouter un Nouveau Grade{% endblock %}
{% block content %}

<body>
</br>
</br>
</br>
<form method="post" action=""
enctype="multipart/form-data">
<fieldset>
<legend>Ajouter un nouveau Grade</legend>
</br>
    <label for="pseudo">Grade :</label>
    <input type="text" name="Ngrade" id="dom" placeholder="Ex: 1ere annee" />
<br />
</TABLE>
<TR>
	<TD COLSPAN=2>
	<INPUT type="submit" value="Valider">
	</TD>
</TR>
</br>
</fieldset>
    </form>
</body>
{% endblock %}