{% extends "esihapp/index1.html" %}
{% block title %}Ajouter une Nouvelle Institution{% endblock %}
{% block content %}
<body>
</br>
</br>
</br>
<form method="post" action=""
enctype="multipart/form-data">
<fieldset>
    <nav id="design_g">
<legend>Ajouter une nouvelle institution</legend>
</br>
    <label for="pseudo">Etablissement :</label>
    <input type="text" name="NEtablissement" id="dom" placeholder="Ex: Quisqueya" />
<br />
</TABLE>
<TR>
	<TD COLSPAN=2>
	<INPUT type="submit" value="Valider">
	</TD>
</TR>
</br>
        </nav>
</fieldset>
    </form>
</body>
{% endblock %}